* {
  font-family: "Tenor Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
header:nth-child(2) {
  display: none;
}
@import 'blocks/header';
@import 'blocks/promo';
@import 'media';